Makefile
Makefile.in
aclocal.m4
compile
config.cache
config.guess
config.h
config.h.in
config.h.in~
config.log
config.status
config.sub
configure
configure.scan
depcomp
intl
libtool
ltconfig
ltmain.sh
stamp-h.in
stamp-h
stamp.h
COPYING
INSTALL
install-sh
mkinstalldirs
missing
output.ps
output.pdf
py-compile
test.txt
ci.sh
ABOUT-NLS
*.tar.xz
intltool-*
mate-doc-utils.make
MATE_*
stamp-h1
autom4te.cache
autom4te-2.53.cache
*.gschema.valid
