/*.bak
/*.lo
/*.o
/*.orig
/*.rej
/*.tab.c
/*~
/.*.sw[nop]
/.deps
/.gitignore
/.libs
/GPATH
/GRTAGS
/GSYMS
/GTAGS
/ID
/Makefile
/Makefile.in
/TAGS
/_libs
/libshowtabbar.la
/org.mate.pluma.plugins.showtabbar.gschema.xml.in
/showtabbar.pluma-plugin
/showtabbar.pluma-plugin.desktop.in
/so_locations
/tags
